In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as stats

pd.set_option('display.max_columns', None)  # display all columns
pd.set_option('display.max_rows', None)     # display all rows

# 1. Load the dataset
df = pd.read_csv('data/NZ airfares.csv')

In [6]:
df.head()  # Display the first 5 rows of the dataset

,Travel Date,Dep. airport,Dep. time,Arr. airport,Arr. time,Duration,Direct,Transit,Baggage,Airline,Airfare(NZ$)
0,19/09/2019,AKL,1:35 PM,CHC,3:00 PM,1h 25m,(Direct),NaN,NaN,Jetstar,111
1,19/09/2019,AKL,3:55 PM,CHC,5:20 PM,1h 25m,(Direct),NaN,NaN,Jetstar,111
2,19/09/2019,AKL,11:40 AM,CHC,1:05 PM,1h 25m,(Direct),NaN,NaN,Jetstar,132
3,19/09/2019,AKL,8:00 PM,CHC,9:25 PM,1h 25m,(Direct),NaN,NaN,Jetstar,132
4,19/09/2019,AKL,9:00 AM,CHC,10:25 AM,1h 25m,(Direct),NaN,NaN,Air New Zealand,133

In [7]:
df.shape  # Display the shape of the dataset

(162833, 11)

In [4]:
df.info()  # Display basic information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162833 entries, 0 to 162832
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Travel Date   162833 non-null  object
 1   Dep. airport  162809 non-null  object
 2   Dep. time     162833 non-null  object
 3   Arr. airport  162809 non-null  object
 4   Arr. time     162828 non-null  object
 5   Duration      162833 non-null  object
 6   Direct        162833 non-null  object
 7   Transit       123077 non-null  object
 8   Baggage       2311 non-null    object
 9   Airline       162828 non-null  object
 10  Airfare(NZ$)  162833 non-null  int64
dtypes: int64(1), object(10)
memory usage: 13.7+ MB

In [5]:
df.describe().transpose()  # Display summary statistics of the dataset

,count,mean,std,min,25%,50%,75%,max
Airfare(NZ$),162833.0,411.031769,168.958742,32.0,293.0,392.0,512.0,1364.0

In [13]:
df.columns  # Display the columns in the dataset

Index(['Travel Date', 'Dep. airport', 'Dep. time', 'Arr. airport', 'Arr. time',
       'Duration', 'Direct', 'Transit', 'Baggage', 'Airline', 'Airfare(NZ$)'],
      dtype='object')

In [16]:
# check duplicates in each column and print the count of duplicates for each column
for column in df.columns:
    duplicates = df[column].duplicated().sum()
    print(f"Column: '{column}' ")
    print(f"Duplicate count: {duplicates} \n")
duplicates = df.duplicated().sum()
print(f"Total duplicates in the dataset: {duplicates}")

Column: 'Travel Date'
Duplicate count: 162714

Column: 'Dep. airport'
Duplicate count: 162800

Column: 'Dep. time'
Duplicate count: 162622

Column: 'Arr. airport'
Duplicate count: 162795

Column: 'Arr. time'
Duplicate count: 162615

Column: 'Duration'
Duplicate count: 162528

Column: 'Direct'
Duplicate count: 162800

Column: 'Transit'
Duplicate count: 161583

Column: 'Baggage'
Duplicate count: 162802

Column: 'Airline'
Duplicate count: 162801

Column: 'Airfare(NZ$)'
Duplicate count: 161937

Total duplicates in the dataset: 1841

In [12]:
df.isnull().sum()  # Check for missing values in each column

Travel Date          0
Dep. airport         0
Dep. time            0
Arr. airport         0
Arr. time            0
Duration             0
Direct               0
Transit          39744
Baggage         160493
Airline              0
Airfare(NZ$)         0
dtype: int64

In [17]:
df = df.dropna(subset=['Dep. airport', 'Arr. airport', 'Arr. time', 'Airline']) # Drop rows with missing critical information

In [18]:
# Fill missing 'Transit' values as 'No Transit'
df['Transit'] = df['Transit'].fillna('No Transit')

In [19]:
# Calculate the percentage of missing values in the 'Baggage' column
missing_baggage_pct = df['Baggage'].isnull().mean() * 100
print(f"Percentage of missing values in 'Baggage': {missing_baggage_pct:.2f}%")

Percentage of missing values in 'Baggage': 98.58%

In [20]:
# Drop 'Baggage' column due to excessive missing values
df = df.drop(columns=['Baggage'])